body {
  background-color: #FFB085;
}
.container {
  display: flex;
  justify-content: space-around;
  padding: auto 2%;
  align-items: baseline;
}
p{
  font-size: 18px;
  padding: 2%;
}
.vertical {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin: 0 2%;
}
button {
  cursor: pointer;
  text-transform: uppercase;
  font-size: 11px;
  font-weight: bold;
  border: none;
  border-bottom: 1px solid;
  background-color: #FFB085;
  /* width: 8em;
  height: 5vh; */
  margin: 5%;
  color: #465b77;
  letter-spacing: 1px;
}
.btn {
  border: none;
  margin: auto;
  width: 10%;
  height: 5vh;
  color: #2547a5;
}

.btnBorder {
  border: 1px solid;
  border-color: #2547a5;
  width: 10%;
  text-align: center;
  position: relative;
  left: 45%;
}

h2 {
  color: rgb(121, 22, 22);
}